* {
    border: 0;
    margin: 0;
    text-align: center;
}

.popup-box {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.popup {
    display: none;
    position: absolute;
    right: -200px;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;

}

.popup-box:hover .popup {
    display: block;
}
.popup-box:hover{
    background: #f1e14a54;
}