* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.box {
    width: 1226px;
    height: 100%;
    background-color: aquamarine;
    margin: 0 auto;
}

.box nav img {
    width: 54px;
    margin-right: 100px;
}

.box nav ul li a {
    color: black;
    margin: 10px;
}

.box nav ul li input {
    margin: 15px;
    margin-left: 100px;
}

.box_xl {
    width: 1226px;
    height: 0px;
    position: absolute;
    background-color: azure;
    left: 0;
    /* display: none; */
    margin-top: 8px;
    z-index: 3;
    overflow: hidden;
    transition: height 0.5s ease-out;
}

.box nav ul li:hover .box_xl {
    /* display: block; */
    height: 234px;
}



.box_one {
    position: absolute;
    width: 1226px;
    height: 460px;
}

.lbt {
    margin-left: 234px;
    /* 可以根据需要调整偏移量 */
    width: 300px;
    background-color: #f1f1f1;
}

.z_index {
    z-index: 1;
}

.box_lb ul {
    margin-top: 20px;

}

.box_lb ul li {
    width: 234px;
    height: 42px;
    padding-left: 30px;
    color: #fff;
    padding-top: 9px;
}

/* .box_lb ul li div {
    width: 300px;
    height: 460px;
} */
.box_lb {
    position: absolute;
    width: 234px;
    height: 460px;
    background-color: rgba(105, 101, 101, 0.6);
}

.box_lb ul li:hover {
    display: block;
    background-color: coral;
}

.box_lb ul li:hover .box_lb ul li div {}



.box_left {
    z-index: 6;
    width: 300px;
    height: 460px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 234px;
    display: none;
}

.box_lb ul li:hover .box_left {
    display: block;
}
.box_left ul li{
    color: #000;
}