table {
  width: 400px;
  border: 1px solid #000;
  /* 合并边框 */
  border-collapse: collapse;
  margin: 100px auto;
}
caption {
  width: 100%;
  height: 30px;
  line-height: 30px;
  /* border: 1px solid #000; */
}
tr {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}
th {
  border: 1px solid #000;
}
td {
  border: 1px solid #000;
  line-height: 100px;
  text-align: center;
}

